.cardUser {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 0px; 
  right: 40px; 
  bottom: 10px; 
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  gap: 15px;
 
}

  
  .cardUser:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  .form{

    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 25%;
    margin-top: -30px;
  }
 

.imageNavbar{
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-right: 1px;
    padding: 0;
}
.name{
  margin-left: 0;
  color: white;
  font-size: 10px;
  top: 0px;
  padding: 0;
}

@media screen and (max-width: 560px) {
  .cardUser {
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    top: 0px; 
    right: 20px; 
    bottom: 10px; 
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    gap: 15px;
    
  }
  .imageNavbar{
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-right: 0px;
    margin-top: -4px;
    padding: 0;
    top: 0;
}
.name{
  color: white;
  font-size: 10px;
  margin-top: 0px;
  padding: 0;
}
}