

.root{
 width: 81%;
 height: 40%;
margin: auto;
}
@media only screen and (max-width: 380px) {
    .root {
        width: 10%;
        height: 20%;
      /* Para garantir que a margem à esquerda seja removida quando a largura for definida como 100% */
    }
}