

.root{
 width: 81%;
 height: 80%;
 margin-left: 19%;
}
@media only screen and (max-width: 1010px) {
    .root {
        width: 100%;
        margin-left: 0; /* Para garantir que a margem à esquerda seja removida quando a largura for definida como 100% */
    }
}